{% if user_is_admin %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/default/editor.css" />
{% endblock %}

<div id="postDialog" class="popupDialog">
    <div class="hd">Post Editor</div>
    <div class="bd">
        <form id="postDialogForm" name="postDialogForm" method="post" action="#">
            <br />
            <p>
                <label for="postTitle">Title:</label><br />
                <input type="text" id="postTitle" name="postTitle" size="50" /></p>
            <p>
                <label for="postTags">Tags:</label><br />
                <input type="text" id="postTags" name="postTags" size="50" /><br />
                <sup><em>Separate tags with commas</em></sup>
            </p>
            <div id="editorTabs" class="yui-navset">
                <ul class="yui-nav">
                    <li class="selected"><a href="#richTab"><em>Rich</em></a></li>
                    <li ><a href="#htmlTab"><em>HTML</em></a></li>
                </ul>
                <div class="yui-content">
                    <div>
                        <textarea id="postBody" name="postBody" cols="50" rows="10">
                            <strong>Please enter your text here.</strong>
                            <p>It will be sent to the server on submit.</p>
                        </textarea>
                        <input type="hidden" name="postFormat" value="html">
                    </div>
                    <div>
                        <textarea id="htmlBody" name="htmlBody" cols="50" rows="10">Enter HTML here.</textarea>
                    </div>
                </ul>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="/static/default/js/bloog_admin.js"></script>

{% endif %}
